
<ng-container *ngIf="bookings.length > 0; else noReservas">

  <!-- DIRECTOR -->
  <ng-container *ngIf="user.role.name === 'director'; else hnD">

    <!-- PANTALLA GRANDE - TABLA  -->
    <table class="hide-on-med-and-down">
      <thead class="center-align">
      <th>Solicitada</th><th>Usuario</th><th>Escenario</th><th>Fecha</th><th>Inicio</th><th>Fin</th><th>Adjuntos</th><th>Estado</th><th>Acciones</th>
      </thead>
      <tbody style="font-size:12px" *ngFor="let ub of bookings">
      <tr >

        <td>{{ub.createdAt | date: 'medium'}}</td>

        <ng-container *ngIf="ub.bkgType.code === 'P'">
          <td>{{ub.user.email }} </td>
        </ng-container>

        <ng-container *ngIf="ub.bkgType.code === 'A'">
          <td>{{ub.user.email }} </td>
        </ng-container>

        <ng-container *ngIf="ub.bkgType.code === 'E'">
          <td>{{ub.desc }}</td>
        </ng-container>

        <ng-container *ngIf="ub.bkgType.code === 'U'">
          <td>{{ub.desc }}</td>
        </ng-container>



        <td><font color="{{ub.schedule[0].field.color}}">{{ub.schedule[0].field.name }}</font></td>
        <td>{{ub.schedule[0].start | date}}</td>
        <td>{{ub.schedule[0].start | date:'shortTime'}}</td>
        <td>{{ub.schedule[(ub.schedule).length-1].end | date:'shortTime'}}</td>
        <td><span *ngFor="let a of ub.attachment"><a [href]="'http://localhost:3000/'+a.path" download>'{{a.desc}}' </a></span></td>

        <ng-container *ngIf="ub.bkgStatus.name === 'Solicitada'">
          <td>
            <span class="tooltipped new badge teal darken-2" data-position="top" data-tooltip="Reserva solicitada, el administrador validará disponibilidad." data-badge-caption="Solicitada" (mouseover)="initTooltip()"></span>
          </td>
          <td>
            <a class="tooltipped "  data-position="top" data-tooltip="Rechazar" (click)="RejectBooking(ub._id)"><i class="material-icons red-text text-darken-2">cancel</i></a>
            <a class="tooltipped " data-position="top" data-tooltip="Aprobar" (click)="ApproveBooking(ub._id)"><i class="material-icons green-text text-darken-2">check</i></a>
          </td>
        </ng-container>

        <ng-container *ngIf="ub.bkgStatus.name === 'Aprobada'">
          <td><span class="tooltipped new badge green darken-2" data-position="top" data-tooltip="Documentación válida, reserva aprobada." data-badge-caption="Aprobada" (mouseover)="initTooltip()"></span></td>
          <td><a class="tooltipped"  data-position="top" data-tooltip="Rechazar" (click)="RejectBooking(ub._id)"><i class="material-icons red-text text-darken-2">cancel</i></a></td>
        </ng-container>


        <ng-container *ngIf="ub.bkgStatus.name === 'Cancelada'">
          <td><span class="tooltipped new badge red darken-2" data-position="top" data-tooltip="Reserva cancelada por el usuario." data-badge-caption="Cancelada" (mouseover)="initTooltip()"></span></td>
          <td></td>
        </ng-container>

        <ng-container *ngIf="ub.bkgStatus.name === 'Rechazada'">
          <td><span class="tooltipped new badge purple darken-2" data-position="top" data-tooltip="Reserva cancelada por el usuario." data-badge-caption="Rechazada" (mouseover)="initTooltip()"></span></td>
          <td><strong>Motivo:</strong> {{ub.comment}}</td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <!-- PANTALLA MED Y PEQ - TARJETAS  -->
    <div class="hide-on-large-only" >
      <div *ngFor="let ub of bookings">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><font color="{{ub.schedule[0].field.color}}"><strong>{{ub.schedule[0].field.name}}</strong></font></span>
            <p><strong>Solicitada: </strong>{{ub.createdAt | date:'medium'}}</p>

            <ng-container *ngIf="ub.bkgType.code === 'P'">
              {{ub.user.email }}
            </ng-container>

            <ng-container *ngIf="ub.bkgType.code === 'A'">
           {{ub.user.email }}
            </ng-container>

            <ng-container *ngIf="ub.bkgType.code === 'E'">
              {{ub.desc }}
            </ng-container>

            <ng-container *ngIf="ub.bkgType.code === 'U'">
             {{ub.desc }}
            </ng-container>

            <p>{{ub.schedule[0].start | date}}</p>
            {{ub.schedule[0].start | date:'shortTime'}} -  {{ub.schedule[(ub.schedule).length-1].end | date:'shortTime'}}

            <ng-container *ngIf="ub.bkgStatus.name === 'Solicitada'">
              <span class="new badge teal darken-2" data-badge-caption="Solicitada"></span>
              <p>
                <a class="green-text text-darken-2" (click)="ApproveBooking(ub._id)"><strong><u>Aprobar</u></strong></a>
                <a class="right red-text text-darken-2" (click)="RejectBooking(ub._id)"><strong><u>Rechazar</u></strong></a>
              </p>
            </ng-container>

            <ng-container *ngIf="ub.bkgStatus.name === 'Aprobada'">
              <span class="new badge green darken-2" data-badge-caption="Aprobada"></span>
              <p><a class="red-text text-darken-2" (click)="RejectBooking(ub._id)"><strong><u>Rechazar</u></strong></a></p>
            </ng-container>


            <ng-container *ngIf="ub.bkgStatus.name === 'Cancelada'">
              <span class="new badge red darken-2" data-badge-caption="Cancelada"></span>
            </ng-container>

            <ng-container *ngIf="ub.bkgStatus.name === 'Rechazada'">
              <span class="new badge purple darken-2" data-badge-caption="Rechazada"></span>
              <p> <strong>Motivo:</strong> {{ub.comment}}</p>
            </ng-container>
          </div>
        </div>

      </div>
    </div>

  </ng-container>

  <!-- USUARIO - INSTRUCTOR -->
  <ng-template #hnD>

    <!-- PANTALLA GRANDE - TABLA  -->
    <table class="hide-on-med-and-down">
      <thead class="center-align">
      <th>Fecha de solicitud</th>
      <th>Escenario</th>
      <th>Fecha</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Estado</th>
      <th>Acciones</th>
      </thead>
      <tbody style="font-size:12px" *ngFor="let booking of bookings">
      <tr>
        <td>{{booking.createdAt | date: 'medium'}}</td>
        <td>{{booking.schedule[0].field.name}}</td>
        <td>{{booking.schedule[0].start | date}}</td>
        <td>{{booking.schedule[0].start| date:'shortTime'}}</td>
        <td>{{booking.schedule[(booking.schedule.length)-1].end | date:'shortTime'}}</td>


        <ng-container *ngIf="booking.bkgStatus.name === 'Solicitada'">
          <td>
            <span class="tooltipped new badge teal darken-2" data-position="top" data-tooltip="Reserva solicitada, el administrador validará disponibilidad." data-badge-caption="Solicitada" (mouseover)="initTooltip()"></span>
          </td>
          <td><a tooltipped class="tooltipped" data-position="top" data-tooltip="Cancelar" (click)="CancelBooking(booking._id)"><i class="material-icons red-text text-darken-2">cancel</i></a></td>
        </ng-container>

        <ng-container *ngIf="booking.bkgStatus.name === 'Aprobada'">
          <td><span class="tooltipped new badge green darken-2" data-position="top" data-tooltip="Documentación válida, reserva aprobada." data-badge-caption="Aprobada" (mouseover)="initTooltip()"></span></td>
          <td><a tooltipped class="tooltipped " data-position="top" data-tooltip="Cancelar" (click)="CancelBooking(booking._id)"><i class="material-icons red-text text-darken-2">cancel</i></a></td>
        </ng-container>

        <ng-container *ngIf="booking.bkgStatus.name === 'Cancelada'">
          <td><span class="tooltipped new badge red darken-2" data-position="top" data-tooltip="Reserva cancelada por el usuario." data-badge-caption="Cancelada" (mouseover)="initTooltip()"></span></td>
          <td></td>
        </ng-container>

        <ng-container *ngIf="booking.bkgStatus.name === 'Rechazada'">
          <td><span class="tooltipped new badge purple darken-2" data-position="top" data-tooltip="No existe disponibilidad de horario o la documentación adjunta no es válida o está incompleta." data-badge-caption="Rechazada" (mouseover)="initTooltip()"></span></td>
          <td><strong>Motivo:</strong> {{booking.comment}}</td>
        </ng-container>
      </tr>

      </tbody>
    </table>

    <!-- PANTALLA MED Y PEQ - TARJETAS  -->
    <div class="hide-on-large-only" >
      <div *ngFor="let booking of bookings">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><strong>{{booking.schedule[0].field.name}}</strong></span>
            <p><strong>Solicitada: </strong>{{booking.createdAt | date: 'medium'}}</p>
            <p>{{booking.schedule[0].start | date}}</p>
            {{booking.schedule[0].start | date:'shortTime'}} -  {{booking.schedule[(booking.schedule).length-1].end | date:'shortTime'}}

            <ng-container *ngIf="booking.bkgStatus.name === 'Solicitada'">
              <span class="new badge teal darken-2" data-badge-caption="Solicitada"></span>
              <p><a class=" red-text text-darken-2"  (click)="CancelBooking(booking._id)"><strong><u>Cancelar</u></strong></a>
            </ng-container>

            <ng-container *ngIf="booking.bkgStatus.name === 'Aprobada'">
              <span class="new badge green darken-2" data-badge-caption="Aprobada"></span>
              <p><a class="red-text text-darken-2" (click)="CancelBooking(booking._id)"><strong><u>Cancelar</u></strong></a></p>
            </ng-container>

            <ng-container *ngIf="booking.bkgStatus.name === 'Cancelada'">
              <span class="new badge red darken-2" data-badge-caption="Cancelada" ></span>
            </ng-container>

            <ng-container *ngIf="booking.bkgStatus.name === 'Rechazada'">
              <span class="new badge purple darken-2" data-badge-caption="Rechazada"></span>
              <p> <strong>Motivo:</strong> {{booking.comment}}</p>
            </ng-container>
          </div>
        </div>

      </div>
    </div>


  </ng-template>

</ng-container>

<ng-template #noReservas>
  No existen reservas.
</ng-template>



