<!-- BARRA SUPERIOR -->
<nav>
  <div class="nav-wrapper grey darken-4">
    <div class="container">
      <a href="#" class="brand-logo center"></a>
      <a href="#" class="sidenav-trigger" data-target="mobile-demo"><i class="material-icons">menu</i></a>
      <ul class="left">
        <li><a routerLink="/"><img class="responsive-img"  src="../assets/logo-blanco2.png" alt=""></a></li>
        <li>Módulo Director</li></ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/help">Ayuda</a></li>
        <li><a href="/signin">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- BARRA MOVIL -->
<ul class="sidenav" id="mobile-demo">
  <li><div class="user-view">
    <div class="background">
      <img height="200px" src="../assets/uptc.jpg">
    </div>
    <a href="#user"><img class="circle" src="../assets/default-user-image.png"></a>
    <a href="#name"><span class="name white-text">{{user.name}}</span></a>
    <a href="#email"><span class="email white-text">{{user.email}}</span></a>
  </div></li>
  <li><a routerLink="/signin">Salir</a></li>
</ul>

<!-- CALENDARIO Y RESERVAS -->
<div class="container" (mouseover)="initTabs()" >
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title yellow-text text-darken-2"><strong>Bienvenido</strong></span>


          <div class="card-tabs">
           <ul class="tabs tabs-fixed-width">
             <li class="tab"><a href="#cal">Calendario</a></li>
             <li class="tab"><a href="#res">Listado de Reservas</a></li>
             <li class="tab"><a href="#his">Histórico de Reservas</a></li>
           </ul>
          </div>
          <div class="card-content grey lighten-4">
            <!--CALENDARIO -->
            <div id="cal">
             <div class="card">
               <div class="card-content">
                 <app-calendar></app-calendar>
               </div>
             </div>
            </div>

            <!--  RESERVAS -->
            <div id="res">
             <div class="card">
               <div class="card-content">
                 <app-booking></app-booking>
               </div>
             </div>

            </div>

            <!-- HISTORICO -->
            <div id="his">
              <div class="card">
                <div class="card-content">
                  <app-booking-history></app-booking-history>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l12">
              Seleccione el escenario que desea filtrar, por defecto se muestra información de todos los escenarios.
              <p><em>Este filtro es necesario para generar horarios.</em></p>

              <form [formGroup]="datos" action="">
                <div *ngFor="let field of fields">
                  <label>
                    <input id="op1" class="with-gap " formControlName="field1" [value]="field._id" type="radio" />
                    <span >{{field.name}}</span>
                  </label>
                </div>
              </form>
              <div class="center"><a class="btn yellow darken-2" (click)="borrarFiltro()">Borrar Filtro </a></div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- IMAGEN 1 -->
<div class="row">
  <div class="col l12 m12 s12">
    <div class="parallax-container">
      <div class="parallax"><img src="../assets/uptc4.jpg"></div>
    </div>
  </div>
</div>

<!--HORARIOS-->
<div class="container">
  <div class="row">
    <div class="col l12 s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title yellow-text text-darken-2"><strong>Horarios</strong></span>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#bloq">Bloquear Horarios</a></li>
              <li class="tab"><a href="#hor">Generar Horarios</a></li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <!--BLOQUEAR HORARIOS -->
            <div id="bloq">
              <div class="card">
                <div class="card-content">

                  <ng-container *ngIf="field; else nR">
                    <span class="card-title">Bloquear Horarios - {{field.name}}</span>
                  </ng-container>
                  <ng-template #nR><span class="card-title">Bloquear Horarios</span></ng-template>


                  <app-new-booking></app-new-booking>
                </div>
              </div>
            </div>

            <!--BLOQUEAR HORARIOS -->
            <div id="hor">
              <div class="row">
                <app-schedule></app-schedule>
              </div>
            </div>


          </div>
        </div>

    </div>
  </div>
</div>
</div>

<!-- IMAGEN 2 -->
<div class="row">
  <div class="col l12 m12 s12">
    <div class="parallax-container">
      <div class="parallax"><img src="../assets/uptc6.jpg"></div>
    </div>
  </div>
</div>

<!-- ESCENARIOS -->
<div class="container">
  <div class="row">
    <app-fields></app-fields>
  </div>
</div>

<!-- IMAGEN 3 -->
<div class="row">
  <div class="col l12 m12 s12">
    <div class="parallax-container">
      <div class="parallax"><img src="../assets/uptc5.jpg"></div>
    </div>
  </div>
</div>

<!-- REPORTES -->
<div class="row">
  <div class="col-l12-m12-s12">
    <app-reports></app-reports>
  </div>
</div>


