<nav>
  <div class="nav-wrapper grey darken-4">
    <div class="container">
      <a href="#" class="brand-logo center"></a>
      <a href="#" class="sidenav-trigger" data-target="mobile-demo"><i class="material-icons">menu</i></a>
      <ul class="left">
        <li><a routerLink="/"><img class="responsive-img"  src="../assets/logo-blanco2.png" alt=""></a></li>
        <li>Préstamo de escenarios deportivos </li></ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signin">Ingreso Usuarios</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/signin">Ingreso Usuarios</a></li>
</ul>


<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12 ">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Módulo Administrador</span>
          <form [formGroup]="datos">
            <div class="row">
              <div class="input-field">
                <input type="text" name="email" formControlName="email" placeholder="Correo electrónico" required autofocus>
              </div>
              <div class="input-field">
                <input type="password" name="password" formControlName="password" placeholder="Contraseña" required>
              </div>
              <div class="input-field center">
                <button type="submit" class="btn yellow darken-2" [disabled]="datos.invalid" (click)="signIn()">Aceptar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
