<nav>
  <div class="nav-wrapper grey darken-4">
    <div class="container">
      <a href="#" class="brand-logo center"></a>
      <a href="#" class="sidenav-trigger" data-target="mobile-demo"><i class="material-icons">menu</i></a>
      <ul class="left">
        <li><a routerLink="/"><img class="responsive-img"  src="../assets/logo-blanco2.png" alt=""></a></li>
        <li>Préstamo de escenarios deportivos </li></ul>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/dni">Id</a></li>
        <li><a href="">Usuarios</a></li>
        <li><a routerLink="/fields">Escenarios</a></li>
        <li><a routerLink="/types">Tipos</a></li>
        <li><a href="/signinAdmin">Ingreso admin</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><div class="user-view">
    <div class="background">
      <img src="#">
    </div>
    <a href="#user"><img class="circle" src="#"></a>
    <a href="#name"><span class="name"></span></a>
    <a href="#email"><span class="email"></span></a>
  </div></li>
  <li><a routerLink="/dni">Id</a></li>
  <li><a href="">Usuarios</a></li>
  <li><a routerLink="/fields">Escenarios</a></li>
  <li><a href="">Horarios</a></li>
  <li><a href="/signinAdmin">Ingreso admin</a></li>
</ul>

